* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: radial-gradient(
        circle,
        rgba(94, 88, 88, 1) 0%,
        rgba(0, 0, 0, 1) 100%);
    background-color:#1b1b1b;
    background-image:
        repeating-radial-gradient(
        circle at 10% 20%,
        rgba(255,255,255,0.14) 0 8px,
        transparent 8px 40px
        ),
        repeating-radial-gradient(
        circle at 70% 80%,
        rgba(255, 255, 255, 0.14) 0 6px,
        transparent 6px 36px
        );
    background-blend-mode: overlay;
    margin: 0;
    min-height: 100vh;
    color: #4bb7ff;
    line-height: 1.3;
    text-align: center;
}

.contenedor {
    border-radius: 7px;
    background: white;
    max-width: 80%;
    height: 85%;
    margin: 20px auto;
    padding: 20px;
}

.opciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

hr {
    border: 0;
    border-top: 2px solid #4e4e4e6c;
    margin: 20px 0;
}

section {
    width: auto;
    height: 70%;
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.377);
    cursor: default;
    transition: all 0.5s ease;
}

section:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    transition: all 0.5s ease;
    cursor: pointer;
    background: #4bb86c;
    color: white;
    p {
        color: white;
    }
}

.option.logout:hover {
    background: #ff4b5c;
    color: white;
}

p { 
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .contenedor {
        max-width: 80%;
        height: auto;
        padding-bottom: 10%;
    }
}